.container {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 200px auto 0 auto;
  align-items: center;
}

.title {
  font-size: 16px;
  color: #000;
  font-family: Arial;
  text-align: center;
  margin-bottom: 16px;
}

.column {
  display: flex;
  flex-direction: row;
}

.button {
  width: 100px;
  height: 100px;
}